<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="my-list-item">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div>
      <h1>[[name]] ([[id]])</h1>
      <h3>[[company]]</h3>
      <h5>[[city]] - [[address]]</h5>
      <a href="mailto:[[email]]">[[email]]</a>
    </div>
  </template>

  <script>
    /**
     * `formacion-techu-0802`
     * -
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyListItem extends Polymer.Element {
      static get is() { return 'my-list-item'; }
      static get properties() {
        return {
          id: Number,
          name: String,
          email: String,
          city: String,
          address: String,
          company: String
        };
      }
    }

    window.customElements.define(MyListItem.is, MyListItem);
  </script>
</dom-module>
